.container{
    width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 20px #000000 ;
    padding: 5px 30px 5px 30px;
    font-family: Happy Monkey;
}
p{
    color: #707070;
}
li{
    color: #707070;
    padding-bottom: 5px;
    padding-top: 5px;
}    
.header{
    text-align: center;
}
h1{
    color: #DB0038;
}

h2{
    color: #3998A3;
}

h3{
    color: #474747;
}

.hero{
    background-color: #f4f4f4;
    text-align: center;
    padding-bottom: 10px;
}

.rating span{
    color: #F4B400;
    size: 25px;
    
}
.rating{
    text-align: center;
}

.footer{
    text-align: center;
}