.youtube{
    background-color: rgb(207, 57, 57);
}

img{
    width: 10em;
    margin: 5px;
}

.the-con{
    background-color: white;
}

body{
    background-color: rgb(233, 224, 224);
}

p{
    font-weight: bold;

}
